*{
	margin:0;
	padding:0;
}
html,body{
	height:100%;
	width:100%;
	font-family:"微软雅黑";
	font-size:62.5%;
}



/**/
a{
	text-decoration:none;
	color:#000;
	display:inline-block;
}
#xf_zhubo{
	padding:0 1% 0 2.3%;
	background:#fff;
	height:100%;
	width:100%;
	box-sizing:border-box;
	
}
#xf_zhubo>section{
	padding-top:1.3rem;
	height:40.5rem;
}
/*标题*/
/*标题 左*/
#xf_zhubo .big_title{
	height:1.33rem;
	line-height:1.33rem;
	margin-bottom:1.33rem;
	
}
#xf_zhubo .big_title h5{
	display: inline-block;
	font-size:1.7rem;
	color:#5B5E5B;
	font-weight:normal;
}
#xf_zhubo .big_title h5 span{
	display:inline-block;
	border-top:transparent 0.8rem solid;
	border-bottom:transparent 0.8rem solid; 
	border-right:transparent 0rem solid;  
	border-left:1rem solid #f19e76;
	vertical-align:middle;
	margin-right:0.6rem;
}
/*标题 右*/
#xf_zhubo .big_title p{
	float:right;
}
#xf_zhubo .big_title a{
	font-size:1.5rem;
	color:#999799;
	margin-right:0.3rem;
}
#xf_zhubo .big_title>p>img{
	height:1.2rem;
	margin-bottom:0.5rem;
	margin-right:1.5rem;
	vertical-align:middle;

}

/*每个块*/
#xf_zhubo .wrap a{
	width:27.5%;
	height:18rem;
	float:left;
}
#xf_zhubo .wrap a::after{
	content:'';
	display:block;
	clear:both;
}
#xf_zhubo .wrap a:nth-child(3n+2){
	margin:0 8%;
}
/*图片+文字*/
#xf_zhubo .wrap a >div{
	color:#BDAA84;
	text-align:center;
	padding:0.3rem;
	box-shadow:0 0 1rem #ccc;
	/*height:9rem;*/
	border:1px solid #F9EBDA;
	font-size:1.4rem;
	font-weight:500;
}
#xf_zhubo .wrap a >div>p{
	height:1.91rem;
	line-height:1.91rem;
}
#xf_zhubo .wrap a >div img{
	width:100%;
	border:1px solid #F7F7F7;
	
}

/*说明*/
#xf_zhubo .wrap a>p{
	/*margin-top:0.5rem;*/
	color:#9D9B9D;
	padding:0.3rem;
	font-size:1.4rem;
	box-sizing:border-box;
	height:5.5rem;
}
