<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>home</title>
				<link rel="stylesheet" href="index.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="swiper.css" media="screen" title="no title" charset="utf-8">
    		<script src="./libs/angular.js" charset="utf-8"></script>
				<script src="./libs/angular-route.js" charset="utf-8"></script>
				<script src="./libs/angular-css.js" charset="utf-8"></script>
        <script src="./libs/jquery-2.2.3.js" charset="utf-8"></script>
        <script src="./libs/swiper.js" charset="utf-8"></script>
    </head>
    <body ng-app="myApp">
				<div ng-view></div>
				<div class="ch-footer" ng-controller="CSScontroller">
				<nav>
					<ul>
						<li ng-click="stun()"><a href="#/"><section class="sprit haha-{{ flag1 }}-1">

						</section><p>
							首页
						</p></a></li>
						<li ng-click="stun2()"><a href="#/subscript"><section class="sprit haha-{{ flag2 }}-2">

						</section><p>
							订阅
						</p></a></li>
						<li ng-click="stun5()"><a href="#/play">
						  <section class="playwrap">
						      <img src="imgs/student_unchecked.png" alt="" />
						  </section>
						</a></li>
						<li ng-click="stun3()"><a href="#/finder"><section class="sprit haha-{{ flag3 }}-3">

						</section><p>
							发现
						</p></a></li>
						<li ng-click="stun4()"><a href="#/mine"><section class="sprit haha-{{ flag4 }}-4">

						</section><p>
							我的
						</p></a></li>
					</ul>
				</nav>

				</div>

    </body>
	<script src="route.js" charset="utf-8"></script>
	 <script src="home/js/home.js" charset="utf-8"></script>
    <script src="mine/js/mine.js" charset="utf-8"></script>
    <script src="subscript/js/subscript.js" charset="utf-8"></script>
    <script src="finder/js/finder.js" charset="utf-8"></script>
    <script src="fl/js/fl.js" charset="utf-8"></script>
    <script src="tj/js/tj.js" charset="utf-8"></script>
    <script src="bd/js/bd.js" charset="utf-8"></script>
    <script src="zb/js/zb.js" charset="utf-8"></script>
    <script src="sou/js/sou.js" charset="utf-8"></script>
    <script src="play/js/play.js" charset="utf-8"></script>
</html>
