*{
	margin: 0;
	padding: 0;
}
html,body{
	background-color: #efefef;
	font-family: "微软雅黑";
	width:100%;
	height:100%;
	font-size:62.5%;
	letter-spacing:1px;
}
.ch_home header{
	width: 100%;
	height: 7.8975rem;
	background-color:#F7F7F7;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	z-index: 10;
}
.ch_home header .ch_top{
	padding:0 3%;
	box-sizing:border-box;
	width: 100%;
	height: 4.3875rem;
	background-color: #f7f7f7;
	display: flex;
	justify-content: space-between;
}

.ch_home header .ch_top .ch_top_left{
	/*width: 7.583rem;*/
	flex-basis:22.8%;
	height: 100%;
	background-color: ;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ch_home header .ch_top .ch_top_middle{
	/*width: 11.9166rem;*/
	/*flex-basis:47%;*/
	height: 100%;
	background-color: ;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ch_home header .ch_top .ch_top_right{
	width: 6.7533rem;
	height: 100%;
	background-color: ;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align:center;
}
.ch_home header .ch_top .ch_top_left img{
	width: 7rem;
	height: 1.9rem;
}
.ch_home header .ch_top .ch_top_middle .sea-wrapper{
	width: 100%;
	height: 2.75rem;
	line-height:2.75rem;
	background-color:#fff;
	border-radius: 15px;
	border:1px solid #efefef;
	display: flex;
	justify-content: flex-start;
	overflow: hidden;
}
.ch_home header .ch_top .ch_top_middle .sea-wrapper img{
	width: 1.4rem;
	height: 1.4rem;
	margin-top: .7rem;
	margin-left: .5rem;
	margin-right: .6rem;
}
.ch_home header .ch_top .ch_top_middle .sea-wrapper a{
	display: block;
	text-decoration: none;
	color: #efefef;
}
.ch_home header .ch_top .ch_top_middle .sea-wrapper input{
	font-size:1.25rem;
	border: none;
	outline: none;
	color: #ccc;
	margin-top: .4rem;
}

.ch_home header .ch_top .ch_top_right p{
	text-align: center;
	font-size: 1rem;
	color: #949694;
}
.ch_home header .ch_top .ch_top_right img{
	width: 2rem;
	height: 2rem;
}


/*头部的bottom的样式*/

.ch_home .void{
	width: 100%;
	height: 7.8975rem;
	display: block;
}
.ch_home header .ch_bottom{
	width: 100%;
	flex-grow: 1;
	background-color:#f7f7f7;
}

.ch_home header .ch_bottom ul{
	width: 100%;
	height: 3.510rem;
	display: flex;
	justify-content: space-around;
}
.ch_home header .ch_bottom ul li{
	list-style: none;
	width: 5.22rem;
	height: 100%;
}
.ch_home header .ch_bottom ul li a{
	display: block;
	text-decoration: none;
	color: #636563;
	width: 100%;
	height: 3rem;
	text-align: center;
	line-height: 3.510rem;
	padding-bottom: .4rem;
	font-size: 1.7rem;
	/*font-weight: bolder;*/
}
.ch_home header .ch_bottom ul li:nth-of-type(2) a{
	border-bottom: 3px solid #ff6542;
	color: #ff6542;
}

/*轮播图部分的样式*/
.ch_home .swiper{
	width: 100%;
	height: 12.228rem;
}
.ch_home .swiper img{
	width: 100%;
	height: 16.25rem;
}

/*nav的部分样式*/
.ch_home .nav{
	margin-top:4rem;
	width: 100%;
	height: 9rem;
	background-color: #ffffff;
	overflow-y:auto;
}
.ch_home .nav ul{
	width: 600px;
	height: 100%;
	display: flex;
}
.ch_home .nav ul li{
	margin:0 2.5%;
	width: 5.75rem;
	list-style: none;
}
.ch_home .nav ul li a{
	display: block;
	text-decoration: none;
	color: #313031;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.ch_home .nav ul li a img{
	width: 5.25rem;
	height: 5.25rem;
	margin-top:.7rem;
}
.ch_home .nav ul li a p{
	margin-bottom: .7rem;
	font-size: 1.4rem;
	font-weight:500;

}

/*主体部分*/
.ch_home main {
	margin-bottom: 4rem
}
.ch_home main .style-one:last-child .style-one-bottom{
	height: 20rem;
}
.ch_home main .style-one{
	width: 100%;
	background:#000;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
}

.ch_home main .style-one-top{
	width: 100%;
	height: 3.57666rem;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
}
.ch_home main .style-one-top .left{
	display: flex;
	align-items: center;
	font-size: 1.6rem;
}
.ch_home main .style-one-top .right{
	display: flex;
	align-items: center;
	font-size:1.3rem;
	color: #9c9a9c;
}
.ch_home main .style-one-top .left span{
	width: 1.2rem;
	height: 1.7rem;
	display:block;
	background-image: url(../imgs/ic_section.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: .8rem;
	margin-right: .3rem;
}
.ch_home main .style-one-top .right span{
	width: 1rem;
	height: 1.2rem;
	display:block;
	background-image: url(../imgs/ic_more.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: .8rem;
	margin-left: .4rem;
	margin-top: .1rem;
}

.ch_home main .style-one-bottom{
	padding:0 3%;
	/*flex-grow: 1;*/
	background-color: #fff;
}
.ch_home main .style-one-bottom ul{
	width: 100%;
	height: 100%;
	/*display: flex;
	flex-wrap: wrap;*/
	/*justify-content:flex-start;*/
	/*justify-content:space-around;*/
}
.ch_home main .style-one-bottom ul li{
	/*flex-basis:33%;*/
	width:30%;

	list-style: none;
	height: 15rem;
	float:left;
	/*margin-left: .9rem;*/
}
.ch_home main .style-one-bottom ul li:nth-child(3n+2){
	margin:0 5%;
}
.ch_home main .style-one-bottom ul li a{
	text-decoration: none;
	display: block;
	color: #000;
}
.ch_home main .style-one-bottom ul li a img{
	/*max-height:auto;*/
	max-width:100%;
	/*width: 7.685rem;*/
	/*height: 7.685rem;*/
}

.ch_home main .style-one-bottom ul li a p{
	margin:.5rem 0;
	font-size: 1.4rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/*width: 6.9647rem;*/
	width:100%;
}

.ch_home main .style-one-bottom ul li a span:first-of-type{
	display:block;
	width: 1rem;
	height: 1rem;
	background-image: url(../imgs/ic_find_tag.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: .5rem;
	float: left;
	margin-top: .2rem;
}
.ch_home main .style-one-bottom ul li a span:last-of-type{
	display:block;
	float: left;
	color: #9c9a9c;
}
.ch_home main .style-one:nth-child(5){
	margin-bottom: 5rem;
	font-family: "微软雅黑";
}
.ch_home main .style-one:nth-child(5) img{
	width: 24.65rem;
	height: 8.845rem;
	margin-left: 1rem;
}
.ch_home main .style-one:nth-child(5) h3{
	font-size: 1.3rem;
	margin-left: 1rem;
	margin-top: .5rem;
}
.ch_home main .style-one:nth-child(5) p{
	margin-left: 1rem;
	margin-top: .5rem;
	color: #9c9a9c;
	margin-bottom: .9rem;
}


@media only screen and (max-width:365px) {
	.ch_home header .ch_bottom ul li a{
		font-size:1.6rem;
	}
	.ch_home header .ch_top .ch_top_middle .sea-wrapper {
		width:93%;
	}
	.ch_home header .ch_top .ch_top_middle .sea-wrapper input {
    	font-size: 0.15rem;
    	width:100%;
	}
	.ch_home main .style-one-bottom ul li {
		height:13rem;
	}

}
@media only screen and (max-width:330px) {
	.ch_home header .ch_top .ch_top_left img {
		width:6rem;
	}
	/*.ch_home header .ch_top .ch_top_right img{
		text-align:center;
		height:1.5rem;
		width:1.5rem;
		margin:0 auto;
	}*/
	.ch_home .swiper img{
		height:15.25rem;
	}
	.ch_home .nav {
   		 margin-top: 3rem;
   	}
	.ch_home header .ch_top .ch_top_middle .sea-wrapper {
		width:100%;
	}
	.ch_home header .ch_top .ch_top_middle .sea-wrapper input {
    	font-size: 0.15rem;
    	width:100%;
	}
	.ch_home main .style-one-bottom ul li {
		height:12rem;
	}

}
@media only screen and (max-width:325px){
	.ch_home header .ch_top .ch_top_left img{
		height:1.8rem;
		width:5.5rem;
	}
	.ch_home header .ch_top .ch_top_right img{
		height:1.5rem;
		width:1.5rem;
	}
	.ch_home header .ch_top .ch_top_middle .sea-wrapper{
		width:86%;
	}
}