<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title></title>
      <link rel="stylesheet" href="fl/css/fl.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
					<div class="ch-fl">

            <header>
          			<section class="ch_top">
          					<div class="ch_top_left">
          							<img src="home/imgs/ch-logo.png" alt="" />
          					</div>
          					<div class="ch_top_middle">
          							<div class="sea-wrapper">
          									<img src="home/imgs/ch-search.png" alt="" />
          									<input type="text" name="name" placeholder="好声音 林志玲 速成">
          							</div>
          					</div>
          					<div class="ch_top_right">
          							<div class="t-left">
          									<img src="home/imgs/ch-time.png" alt="" />
          									<p>历史</p>
          							</div>
          							<div class="t-right">
          									<img src="home/imgs/ch-download.png" alt="" />
          									<p>下载</p>
          							</div>
          					</div>

          			</section>
          			<sction class="ch_bottom">
          					<ul>
          						<li><a href="#/tj">推荐</a></li>
          						<li><a href="#/">热门</a></li>
          						<li><a href="#/fl">分类</a></li>
          						<li><a href="#/bd">榜单</a></li>
          						<li><a href="#/zb">主播</a></li>
          					</ul>
          			</sction>
          	</header>
            <div class="void"></div>
						<nav>
							<img src="fl/imgs/fl-bg.jpg" alt="" />
						</nav>

						<main>
								<ul class="ch-fl-one" ng-repeat="(key, val) in value">
									<li ng-repeat="n in val"><a href="#">
										<div class="ch-logimg">
											<img ng-src="{{ n.img }}" alt="" />
										</div>
										<p>{{ n.info }}</p>
									</a></li>
									<!-- <li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li> -->
								</ul>


								<!-- <ul class="ch-fl-one">
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
								</ul>

								<ul class="ch-fl-one">
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
								</ul>


								<ul class="ch-fl-one">
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
									<li><a href="#">
										<div class="ch-logimg">
											<img src="fl/imgs/category_car.png" alt="" />
										</div>
										<p>有声书</p>
									</a></li>
								</ul> -->
						</main>

						<section class="swiper">
              <div class="swiper-container">
          <div class="swiper-wrapper">
          	<div class="swiper-slide"><img src="fl/imgs/fl-bg.jpg" alt=""></div>
          	<div class="swiper-slide"><img src="fl/imgs/flbg1.jpg" alt=""></div>
          	<div class="swiper-slide"><img src="fl/imgs/flbg2.jpg" alt=""></div>
          	<div class="swiper-slide"><img src="fl/imgs/flbg3.jpg" alt=""></div>
          	<div class="swiper-slide"><img src="fl/imgs/flbg4.jpg" alt=""></div>
          </div>
          	<!-- 分页器 -->
          	<div class="swiper-pagination" id="position"></div>
          </div>
						</section>
					</div>
    </body>
    <script type="text/javascript">
    </script>
</html>
