*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 12px;
	background-color: #efefef;
}
.ch-fl header{
	width: 100%;
	height: 7.8975rem;
	background-color: ;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
}
.ch-fl header .ch_top{
	width: 100%;
	height: 4.3875rem;
	background-color: #f7f7f7;
	display: flex;
	justify-content: space-between;
}

.ch-fl header .ch_top .ch_top_left{
	width: 7.583rem;
	height: 100%;
	background-color: ;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ch-fl header .ch_top .ch_top_middle{
	width: 11.9166rem;
	height: 100%;
	background-color: ;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ch-fl header .ch_top .ch_top_right{
	width: 6.7533rem;
	height: 100%;
	background-color: ;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.ch-fl header .ch_top .ch_top_left img{
	width: 6rem;
	height: 1.8rem;
}
.ch-fl header .ch_top .ch_top_middle .sea-wrapper{
	width: 100%;
	height: 2.1rem;
	background-color:#fff;
	border-radius: 15px;
	border:1px solid #efefef;
	display: flex;
	justify-content: flex-start;
	overflow: hidden;
}
.ch-fl header .ch_top .ch_top_middle .sea-wrapper img{
	width: 1.4rem;
	height: 1.4rem;
	margin-top: .3rem;
	margin-left: .5rem;
	margin-right: .4rem;
}
.ch-fl header .ch_top .ch_top_middle .sea-wrapper input{
	font-size:1rem;
	border: none;
	outline: none;
	color: #ccc;
}

.ch-fl header .ch_top .ch_top_right p{
	text-align: center;
	font-size: 1rem;
	color: #949694;
}
.ch-fl header .ch_top .ch_top_right img{
	width: 2rem;
	height: 2rem;
}


/*头部的bottom的样式*/

.ch-fl .void{
	width: 100%;
	height: 7.8975rem;
	display: block;
}
.ch-fl header .ch_bottom{
	width: 100%;
	flex-grow: 1;
	background-color:#f7f7f7;
}

.ch-fl header .ch_bottom ul{
	width: 100%;
	height: 3.510rem;
	display: flex;
	justify-content: space-around;
}
.ch-fl header .ch_bottom ul li{
	list-style: none;
	width: 5.22rem;
	height: 100%;
}
.ch-fl header .ch_bottom ul li a{
	display: block;
	text-decoration: none;
	color: #636563;
	width: 100%;
	height: 3rem;
	text-align: center;
	line-height: 3.510rem;
	padding-bottom: .4rem;
	font-size: 1.19rem;
	font-weight: bolder;
}
/*.ch-fl header .ch_bottom ul li:nth-of-type(2) a{
	border-bottom: 2px solid #ff6542;
	color: #ff6542;
}*/
.ch-fl header .ch_bottom ul li:nth-of-type(3) a{
	border-bottom: 2px solid #ff6542;
	color: #ff6542;
}
.ch-fl .void{
	width: 100%;
	height: 7.8975rem;
	background-color: rgb(180, 222, 103);
}

.ch-fl nav{
	width:100%;
	height: 14.2rem;
}
.ch-fl nav img{
	width: 100%;
	height: 100%;
}
.ch-fl .ch-fl-one {
	width: 100%;
	overflow: hidden;
	margin-bottom: 1rem;
}
.ch-fl .ch-fl-one li{
	list-style: none;
	width: 49.8%;
	height: 3.2625rem;
	background-color:#fff;
	float: left;
	border-bottom: 1px solid #ccc;
}
.ch-fl .ch-fl-one li a{
	display: flex;
	text-decoration: none;
	width: 100%;
	height: 100%;
	font-size: 1.2rem;
	color: #636563;
	font-weight:500;
}
.ch-fl .ch-fl-one li:nth-child(odd){
	border-right: 1px solid #ccc;
}
.ch-fl .ch-fl-one li .ch-logimg{
	width: 4.32rem;
	height: 100%;
	background-color:;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ch-fl .ch-fl-one li .ch-logimg img{
	width: 2.57rem;
	height: 2.57rem;
}
.ch-fl .ch-fl-one li a p{
	flex-grow: 1;
	background-color:;
	line-height:100%;
	display: flex;
	align-items: center;
	font-size: 1.3rem;
}

.ch-fl .swiper img{
	width: 100%;
	height: 5.92rem;
}



@media only screen and (max-width:435px) {
	html{
		font-size: 16.3px;
	}
}
@media only screen and (max-width:414px) {
	html{
		font-size: 15.5px;
	}
}

@media only screen and (max-width:375px) {
	html{
		font-size: 14px;
	}
}
@media only screen and (max-width:360px) {
	html{
		font-size: 13.4px;
	}
}
@media only screen and (max-width:320px) {
	html{
		font-size: 12px;
	}
}
