*{
	margin:0;
	padding:0;
}
html,body{
	height:100%;
	width:100%;
	/*font-family:"微软雅黑";*/
	font-size:12px;
}


#xf_zhubo header{
	width: 100%;
	height: 7.8975rem;
	background-color: ;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
}
#xf_zhubo header .ch_top{
	width: 100%;
	height: 4.3875rem;
	background-color: #f7f7f7;
	display: flex;
	justify-content: space-between;
}

#xf_zhubo header .ch_top .ch_top_left{
	width: 7.583rem;
	height: 100%;
	background-color: ;
	display: flex;
	justify-content: center;
	align-items: center;
}
#xf_zhubo header .ch_top .ch_top_middle{
	width: 11.9166rem;
	height: 100%;
	background-color: ;
	display: flex;
	justify-content: center;
	align-items: center;
}
#xf_zhubo header .ch_top .ch_top_right{
	width: 6.7533rem;
	height: 100%;
	background-color: ;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#xf_zhubo header .ch_top .ch_top_left img{
	width: 6rem;
	height: 1.8rem;
}
#xf_zhubo header .ch_top .ch_top_middle .sea-wrapper{
	width: 100%;
	height: 2.1rem;
	background-color:#fff;
	border-radius: 15px;
	border:1px solid #efefef;
	display: flex;
	justify-content: flex-start;
	overflow: hidden;
}
#xf_zhubo header .ch_top .ch_top_middle .sea-wrapper img{
	width: 1.4rem;
	height: 1.4rem;
	margin-top: .3rem;
	margin-left: .5rem;
	margin-right: .4rem;
}
#xf_zhubo header .ch_top .ch_top_middle .sea-wrapper input{
	font-size:1rem;
	border: none;
	outline: none;
	color: #ccc;
}

#xf_zhubo header .ch_top .ch_top_right p{
	text-align: center;
	font-size: 1rem;
	color: #949694;
}
#xf_zhubo header .ch_top .ch_top_right img{
	width: 2rem;
	height: 2rem;
}


/*头部的bottom的样式*/

#xf_zhubo .void{
	width: 100%;
	height: 7.8975rem;
	display: block;
}
#xf_zhubo header .ch_bottom{
	width: 100%;
	flex-grow: 1;
	background-color:#f7f7f7;
}

#xf_zhubo header .ch_bottom ul{
	width: 100%;
	height: 3.510rem;
	display: flex;
	justify-content: space-around;
}
#xf_zhubo header .ch_bottom ul li{
	list-style: none;
	width: 5.22rem;
	height: 100%;
}
#xf_zhubo header .ch_bottom ul li a{
	display: block;
	text-decoration: none;
	color: #636563;
	width: 100%;
	height: 3rem;
	text-align: center;
	line-height: 3.510rem;
	padding-bottom: .4rem;
	font-size: 1.19rem;
	font-weight: bolder;
}
/*#xf_zhubo header .ch_bottom ul li:nth-of-type(2) a{
	border-bottom: 2px solid #ff6542;
	color: #ff6542;
}*/
#xf_zhubo header .ch_bottom ul li:nth-of-type(5) a{
	border-bottom: 2px solid #ff6542;
	color: #ff6542;
}
#xf_zhubo .void{
	width: 100%;
	height: 7.8975rem;
	background-color: rgb(180, 222, 103);
}











/**/
a{
	text-decoration:none;
	color:#000;
	display:inline-block;
}
#xf_zhubo{
	padding:0 1% 0 2.3%;
	background:#fff;
	height:100%;
	width:100%;
	box-sizing:border-box;

}
#xf_zhubo>section{
	padding-top:1.3rem;
	height:40.5rem;
}
/*标题*/
/*标题 左*/
#xf_zhubo .big_title{
	height:1.33rem;
	line-height:1.33rem;
	margin-bottom:1.33rem;

}
#xf_zhubo .big_title h5{
	display: inline-block;
	font-size:1.7rem;
	color:#5B5E5B;
	font-weight:normal;
}
#xf_zhubo .big_title h5 span{
	display:inline-block;
	border-top:transparent 0.8rem solid;
	border-bottom:transparent 0.8rem solid;
	border-right:transparent 0rem solid;
	border-left:1rem solid #f19e76;
	vertical-align:middle;
	margin-right:0.6rem;
}
/*标题 右*/
#xf_zhubo .big_title p{
	float:right;
}
#xf_zhubo .big_title a{
	font-size:1.5rem;
	color:#999799;
	margin-right:0.3rem;
}
#xf_zhubo .big_title>p>img{
	height:1.2rem;
	margin-bottom:0.5rem;
	margin-right:1.5rem;
	vertical-align:middle;

}

/*每个块*/
#xf_zhubo .wrap a{
	width:27.5%;
	height:18rem;
	float:left;
}
#xf_zhubo .wrap a::after{
	content:'';
	display:block;
	clear:both;
}
#xf_zhubo .wrap a:nth-child(3n+2){
	margin:0 8%;
}
/*图片+文字*/
#xf_zhubo .wrap a >div{
	color:#BDAA84;
	text-align:center;
	padding:0.3rem;
	box-shadow:0 0 1rem #ccc;
	/*height:9rem;*/
	border:1px solid #F9EBDA;
	font-size:1.4rem;
	font-weight:500;
}
#xf_zhubo .wrap a >div>p{
	height:1.91rem;
	line-height:1.91rem;
}
#xf_zhubo .wrap a >div img{
	width:100%;
	border:1px solid #F7F7F7;

}

/*说明*/
#xf_zhubo .wrap a>p{
	/*margin-top:0.5rem;*/
	color:#9D9B9D;
	padding:0.3rem;
	font-size:1.4rem;
	box-sizing:border-box;
	height:5.5rem;
}
