<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>榜单界面</title>
	</head>
	<body>
		<div id="xf_bangdan">
			<header>
					<section class="ch_top">
							<div class="ch_top_left">
									<img src="home/imgs/ch-logo.png" alt="" />
							</div>
							<div class="ch_top_middle">
									<div class="sea-wrapper">
											<img src="home/imgs/ch-search.png" alt="" />
											<input type="text" name="name" placeholder="好声音 林志玲 速成">
									</div>
							</div>
							<div class="ch_top_right">
									<div class="t-left">
											<img src="home/imgs/ch-time.png" alt="" />
											<p>历史</p>
									</div>
									<div class="t-right">
											<img src="home/imgs/ch-download.png" alt="" />
											<p>下载</p>
									</div>
							</div>

					</section>
					<sction class="ch_bottom">
							<ul>
								<li><a href="#/tj">推荐</a></li>
								<li><a href="#/">热门</a></li>
								<li><a href="#/fl">分类</a></li>
								<li><a href="#/bd">榜单</a></li>
								<li><a href="#/zb">主播</a></li>
							</ul>
					</sction>
			</header>

				<div class="void"></div>
			<div class="header">
				<a href="#"><img src="bd/imgs/logo.jpg"/></a>
			</div>
			<main>
				<section class="bangdan_list">
					<h5><span></span>节目榜单</h5>
					<ul ng-repeat="n in value">
						<li>
							<a href="#">
								<div><img ng-src="{{ n.img }}"/></div>
								<div>
									<h3>{{ n.title }}</h3>
									<p>1&nbsp;{{ n.info_one }}</p>
									<p>2&nbsp;{{ n.info_two }}</p>
								</div>
								<div>
									<img src="bd/imgs/ic_more.png"/>
								</div>
							</a>
						</li>
					</ul>

					<!-- <ul>
						<li>
							<a href="#">
								<div><img src="bd/imgs/zb3.png"/></div>
								<div>
									<h3>最火节目飙升榜</h3>
									<p>1&nbsp;首席医官412总长夫人</p>
									<p>2&nbsp;《摸金天使》第11文件浮动撒娇否  极乐空间拉近了看1章 拉屎锁魂</p>
								</div>
								<div>
									<img src="bd/imgs/rightarrow.gif"/>
								</div>
							</a>
						</li>
					</ul> -->

				</section>



				<section class="bangdan_list">
					<h5><span></span>主播榜单</h5>
					<ul ng-repeat="z in zb">
						<li>
							<a href="#">
								<div><img ng-src="{{ z.img }}"/></div>
								<div>
									<h3>{{ z.title }}</h3>
									<p>1&nbsp;{{ z.info_one }}</p>
									<p>2&nbsp;{{ z.info_two }}</p>
								</div>
								<div>
									<img src="bd/imgs/ic_more.png"/>
								</div>
							</a>
						</li>
					</ul>
				</section>
			</main>
		</div>
	</body>
</html>
